# محیط مجازی
.venv/
venv/

# فایل‌های کامپایل شده پایتون
__pycache__/
*.pyc
*.pyo
*.pyd

# فایل‌های استاتیک جمع‌آوری شده توسط collectstatic
staticfiles/
media/
static/
db.sqlite3


# فایل‌های سیستمی
.DS_Store
Thumbs.db