# محیط مجازی
.venv/
venv/

# فایل‌های کامپایل شده پایتون
__pycache__/
*.pyc
*.pyo
*.pyd

# دیتابیس لوکال (اگر sqlite استفاده می‌کنی)
*.sqlite3

# فایل‌های استاتیک جمع‌آوری شده توسط collectstatic
staticfiles/

# فایل‌های آپلودی کاربران (بهتره در گیت نباشه)
media/

# فایل‌های سیستمی
.DS_Store
Thumbs.db