{% extends "main.html" %}
{% load widget_tweaks %}

{% block title %}نشانی جدید{% endblock title %}
{% include "sidebar.html" %}
{% block body %}
<main class="col-12 col-md-12 p-4">

<br>
<form action="" method="post" class="needs-validation" novalidate>
    {% csrf_token %}

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm border-0">
                    <div class="card-header bg-primary text-white text-center">
                        <h4 class="mb-0">ویرایش حساب کاربری</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <h6 class="text-muted">عنوان:</h6>
                            {{ form.title|add_class:"form-control"|attr:"style:width:100" }}
                        </div>
                        <div class="mb-3">
                            <h6 class="text-muted">شهر :</h6>
                            {{ form.city|add_class:"form-control"|attr:"style:width:100%" }}
                        </div>                    
                        <div class="mb-3">
                            <h6 class="text-muted">نشانی:</h6>
                            {{ form.street|add_class:"form-control"|attr:"style:width:100%" }}
                        </div>
                            <div class="mb-3">
                            <h6 class="text-muted">کدپستی :</h6>
                            {{ form.postal_code|add_class:"form-control"|attr:"style:width:100%"  }}
                        </div>
                        <div>
                            <div class="mb-3">
                            <h6 class="text-muted">آدرس پیش فرض :</h6>
                            {{ form.is_Default|add_class:"form-control"|attr:"style:width:100%"}}
                        </div>
                        <button type="submit" class="btn btn-primary">ذخیره</button>
                    </div>
</form>

            </main>
    
    </div>

</div>
{% endblock body %}
