{% extends 'main.html' %}
{% block title %} آدرس های من {% endblock title %}
{% block body %}

        <!-- محتوای اصلی -->
        <main class="col-9 col-md-10 p-4">

            <h4 class="mb-0">آدرس های من</h4><br>
            <hr class="border border-danger">

                {% if addresses %}
                {% for add in addresses%}
                    <div class="row card" style ="margin:10px;">
                        <div class="col">
                        عنوان :{{ add.title }}<br>
                        شهر :{{add.city}}<br>
                        آدرس :{{add.street}}<br>
                        کدپستی :{{add.postalcode}}<br>
                        </div>
                    </div>
                
                {% endfor %}
                {% endif%}

        </main>
    
    </div>

</div>

{% endblock %}