
{% extends "main.html" %}

{% block title %}حساب کاربری{% endblock title %}

{% block body %}
<main class="col-9 col-md-10 p-4">
<br>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm border-0">
                <div class="card-header bg-primary text-white text-center">
                    <h4 class="mb-0">حساب کاربری</h4>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <h6 class="text-muted">نام کاربری:</h6>
                        <p class="fw-bold">{{ profile.user.username }}</p>
                    </div>
                    <div class="mb-3">
                        <h6 class="text-muted">نام :</h6>
                        <p class="fw-bold">{{ profile.user.first_name }}</p>
                    </div>                    
                    <div class="mb-3">
                        <h6 class="text-muted">نام خانوادگی:</h6>
                        <p class="fw-bold">{{ profile.user.last_name }}</p>
                    </div>
                        <div class="mb-3">
                        <h6 class="text-muted">ایمیل :</h6>
                        <p class="fw-bold">{{ profile.user.email }}</p>
                    </div>
                    <div>
                        <div class="mb-3">
                        <h6 class="text-muted">آدرس :</h6>
                        <p class="fw-bold">{{ profile.address }}</p>
                    </div>
                    <div>
                        <div class="mb-3">
                        <h6 class="text-muted">کدپستی :</h6>
                        <p class="fw-bold">{{ profile.postalcode }}</p>
                    </div>
                    <a type="button" class="btn btn-success" href = "{% url "accounts:user_update" %}" >بروز رسانی</a>
                </div>

            </div>
        </div>

    </div>

</main>
    
</div>

</div>
{% endblock body %}
