

    <style>
        body {
            font-family: Vazir, Tahoma, sans-serif;
            direction: rtl;
        }
        .sidebar {
            height: 100vh;
            background-color: #f8f9fa;
            padding: 1rem;
            border-left: 1px solid #ddd;
        }
        .sidebar a {
            text-decoration: none;
            color: #333;
        }
        .submenu {
            padding-right: 1rem;
        }
        
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
            <!-- سایدبار -->
        <nav class="col-3 col-md-2 sidebar">
        <ul class="nav flex-column" style="text-align: right; padding-right: 0px;">
            <li class="nav-item">
            <a class="nav-link" href="#">🏠 خانه</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#productsMenu" role="button" aria-expanded="false" aria-controls="productsMenu">
                👕 محصولات
            </a>
            <div class="collapse submenu" id="productsMenu">
                <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" href="#">لباس مردانه</a></li>
                <li class="nav-item"><a class="nav-link" href="#">لباس زنانه</a></li>
                <li class="nav-item"><a class="nav-link" href="#">اکسسوری</a></li>
                </ul>
            </div>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#accountMenu" role="button" aria-expanded="false" aria-controls="accountMenu">
                👤 حساب کاربری
            </a>
            <div class="collapse submenu" id="accountMenu">
                <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" href="#">پروفایل</a></li>
                <li class="nav-item"><a class="nav-link" href="#">تنظیمات</a></li>
                <li class="nav-item"><a class="nav-link" href="#">خروج</a></li>
                </ul>
            </div>
            </li>
        </ul>
        </nav>
