{% load static %}
    <div class="sidebar fixed-top">
        <div class="sidebar-header">
            <div class="icon">B</div>
            <div class="sidebar-title">پنل کاربری</div>
        </div>

        <!-- منو با آیکون -->
        <div class="menu-item" onclick="toggleMenu(this)">
            <div class="d-flex align-items-center">
                
                <img src="{% static 'icons/reports.svg' %}" class="menu-icon" alt="گزارشات">
                حساب کاربری
            </div>
            <span class="arrow">></span>
        </div>
        <div class="submenu">
            <div class="submenu-item"><a class="submenu-item" href="{% url 'accounts:user_profile' %}">اطلاعات حساب</a></div>
            <div class="submenu-item"><a class="submenu-item" href="{% url 'accounts:user_addresses' %}">آدرس ها</a><br></div>
            <div class="submenu-item"><a class="submenu-item" href="{% url 'accounts:user_changepassowrd' %}">تغییر رمز</a></div>
        </div>
        <div class="menu-item" onclick="toggleMenu(this)">
            <div class="d-flex align-items-center">
                
                <img src="{% static 'icons/reports.svg' %}" class="menu-icon" alt="گزارشات">
                گزارش ها
            </div>
            <span class="arrow">></span>
        </div>
        <div class="submenu">
            <div class="submenu-item">مرور کلی</div>
            <div class="submenu-item">آمار روزانه</div>
        </div>

        <div class="menu-item" onclick="toggleMenu(this)">
            <div class="d-flex align-items-center">
                <img src="{% static 'icons/users.svg' %}" class="menu-icon" alt="کاربران">
                کاربران
            </div>
            <span class="arrow">></span>
        </div>
        <div class="submenu">
            <div class="submenu-item">مرور کلی</div>
            <div class="submenu-item">آمار روزانه</div>
        </div>

        <div class="menu-item" onclick="toggleMenu(this)">
            <div class="d-flex align-items-center">
                <img src="{% static 'icons/orders.svg' %}" class="menu-icon" alt="سفارشات">
                سفارشات
            </div>
            <span class="arrow">></span>
        </div>
        <div class="submenu">
            <div class="submenu-item">لیست سفارشات</div>
            <div class="submenu-item">ثبت سفارش جدید</div>
        </div>

        <div class="menu-item" onclick="toggleMenu(this)">
            <div class="d-flex align-items-center">
                <img src="{% static 'icons/settings.svg' %}" class="menu-icon" >
                تنظیمات
            </div>
            <span class="arrow">></span>
        </div>
        <div class="submenu">
            <div class="submenu-item">لیست سفارشات</div>
            <div class="submenu-item">ثبت سفارش جدید</div>
        </div>
    </div>



    <script>
        function toggleMenu(item) {
            document.querySelectorAll('.menu-item').forEach(el => {
                if (el !== item) el.classList.remove('active');
            });
            item.classList.toggle('active');
        }
    </script>